# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать логи
*.log
logs.txt

# Игнорировать файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Игнорировать файлы настройки
Pipfile
Pipfile.lock

# Игнорировать другие временные файлы
*.bak
*.tmp
.DS_Store
Thumbs.db